* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
html{
    background-color: #a6a6a6;
    z-index: 5;
}
.header{
    position: fixed;
    background: #f8ece3;
    height: 70px;
    width: 100%;
}
.bloc_header{
    display: inline-flex;
    padding: 10px 0px 0px 20px;
}
.navbar-brand img{
    width: 50px;
    height: 50px;
}
.bloc_header h5{
    padding-left: 10px;
    align-self: center;
    font-size: 1.3em;
}
.selected_tab{
    z-index: 1;
    text-align: center;
    margin: 5px 5px 0px 5px;
    border-radius: 35px;
}
.list-group-item{
    color: black;
}
.right_meny{
    width: 255px;
    height: 100%;
    margin-top: 10px;
    z-index: 1;
;
}

.main_content{
    margin: 10px 10px 10px 10px;
    background-color: white;
    width: 100%;
    z-index: 1;
}
.dialog_add{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:998;
}
.dialog_block{
    width: 50%;
    height: 75%;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:999;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}
.dialog_add_title{
    padding: 15px 0px 15px 0px;
}
.dialog_add_form{
    box-shadow: inset 0 22px 30px -31px #333;
}
.dialog_select_div{
    display: -webkit-box;
    margin: 0px 0px 15px 20%;
}
.dialog_add_select_h2{
    width: 150px;
    font-size: 24px;
}
.dialog_select_div button{
    margin: 0;
      -webkit-box-pack: center;
}